.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.react-datepicker-wrapper {
  display: initial !important;
}

/* .react-datepicker-popper {
  z-index: 2;
  top: 34px !important; */
  /* needed because we made it inline */
/* } */

/* .react-datepicker-wrapper, */
/* .react-datepicker-wrapper .react-datepicker__input-container { */
  /* https://github.com/Hacker0x01/react-datepicker/issues/1672 */
  /* width: 100%; */

  /* to make it exactly the same height as the bootstrap input-group-addons */
  /* display: inline; */
/* } */

/* .react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 2.7rem;
  line-height: 2.7rem;
  font-size: 1.1rem;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  font-size: 1.4rem;
}

.date.form-group .input-group-addon {
  cursor: pointer;
}

.date.form-group .input-group-addon:hover {
  opacity: 0.8;
} */
